* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.js-board {
    width: 70%;
    height: 70vh;
    margin: auto;
    padding-top: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

table:hover {
    cursor: pointer;
}

td {
    border: solid;
    border-width: 1px 1px;
}

.highlight {
    background-color: aquamarine;
}

.found {
    background-color: hotpink;
}
