:root {
    --main-color: #f6d55c;
    --main-dark: #262626;
    --main-light: #eee;
    --activiteiten-color: #7CB5D2;
    --faciliteiten-color: #AC2324;
    --gezondheidszorg-color: #104577;
    --horeca-color: #BB94B7;
    --onderwijs-color: #18A68D;
    --openbaar_vervoer-color: #BDD74B;
    --sport-color: #96CEB7;
    --toerisme-color: #F8DFC8;
    --transport-color: #F68D51;
    --current-vh: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#mapid {
    /* 70% vd viewport height */
    height: 100vh;
    position: relative;
    z-index: 10;
}

body {
    font-family: sans-serif;
}

.js-categories:first-child {
    padding-top: 24px;
}

.property-panel {
    width: 350px;
    height: 100%;
    background-color: var(--main-dark);
    position: fixed;
    top: 0;
    left: -350px;
    border-radius: 0 3% 3% 0;
    z-index: 20;
    transition: all 0.8s cubic-bezier(1, 0, 0, 1);
}

.scrollable-categories {
    overflow-y: auto; /* makes this section scrollable */
    position: relative;
    height: calc(var(--current-vh) - 150px);
}

.o-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.arrow-icon {
    /* fill: var(--main-dark); */
    fill: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.show__icon {
    fill: var(--main-color);
}

.show__icon--open {
    transform: rotateZ(90deg);
}

.show {
    left: 0;
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.static-row {
    width: 100%;
    height: 32px;
    position: fixed;
    display: flex;
    top: 32px;
    left: 34px;
    z-index: 30;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 32px;
    color: var(--main-dark);
    fill: var(--main-dark);
    transition: all 0.8s ease;
}

.hamburger-menu {
    width: 36px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: all 0.8s ease;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
    box-shadow: none;
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    box-shadow: none;
}

.offset {
    position: relative;
    top: 80px;
}

.c-input {
    width: 80%;
    height: 3em;
    background: #eee;
    border-radius: 5px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.o-list-item {
    list-style: none;
}

.filter-item {
    margin: 10px 0 24px 32px;
    transition: all 0.5s ease-in-out;
}

.filter-text {
    position: relative;
    top: -16px;
    left: 32px
}

.category-value-checkbox {
    padding-left: 10px;
}

.filter-link {
    text-decoration: none;
    font-size: 22px;
    color: var(--main-light);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
    cursor: pointer;
}

.filter-link::before,
.filter-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.filter-link::after {
    bottom: 0;
    transform-origin: right;
}

.filter-link::before {
    top: 0;
    transform-origin: left;
}

.filter-link:hover::before,
.filter-link:hover::after {
    transform: scaleX(1);
}

/* allow to set in javascript as well (toggle this class when clicked) */
.filter-link__scale::before,
.filter-link__scale::after {
    transform: scaleX(1);
}

.light-color {
    color: var(--main-light);
    fill: var(--main-light);
}

/* COMPONENT CHECKBOX */
.checkbox-container {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ccc;
    border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: var(--main-light);
}

/* When the checkbox is checked, add a yellow background */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--main-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-div {
    margin-bottom: 12px;
}

/* COMPONENT SLIDER */
.slidecontainer {
    position: relative;
    left: 32px;
    top: 4px;
    width: 80%; /* Width of the outside container */
    margin-bottom: 32px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 12px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 10px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    outline: none;
    width: 23px; /* Set a specific slider handle width */
    height: 23px; /* Slider handle height */
    background: var(--main-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 23px; /* Set a specific slider handle width */
    height: 23px; /* Slider handle height */
    border-radius: 50%;
    outline: none;
    background: var(--main-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider--activiteiten::-webkit-slider-thumb {
    background: var(--activiteiten-color);
}
.slider--activiteiten::-moz-range-thumb {
    background: var(--activiteiten-color);
}

.slider--faciliteiten::-webkit-slider-thumb {
    background: var(--faciliteiten-color);
}
.slider--faciliteiten::-moz-range-thumb {
    background: var(--faciliteiten-color);
}

.slider--gezondheidszorg::-webkit-slider-thumb {
    background: var(--gezondheidszorg-color);
}
.slider--gezondheidszorg::-moz-range-thumb {
    background: var(--gezondheidszorg-color);
}

.slider--horeca::-webkit-slider-thumb {
    background: var(--horeca-color);
}
.slider--horeca::-moz-range-thumb {
    background: var(--horeca-color);
}

.slider--onderwijs::-webkit-slider-thumb {
    background: var(--onderwijs-color);
}
.slider--onderwijs::-moz-range-thumb {
    background: var(--onderwijs-color);
}

.slider--openbaar-vervoer::-webkit-slider-thumb {
    background: var(--openbaar_vervoer-color);
}
.slider--openbaar-vervoer::-moz-range-thumb {
    background: var(--openbaar_vervoer-color);
}

.slider--sport::-webkit-slider-thumb {
    background: var(--sport-color);
}
.slider--sport::-moz-range-thumb {
    background: var(--sport-color);
}

.slider--toerisme::-webkit-slider-thumb {
    background: var(--toerisme-color);
}
.slider--toerisme::-moz-range-thumb {
    background: var(--toerisme-color);
}

.slider--transport::-webkit-slider-thumb {
    background: var(--transport-color);
}
.slider--transport::-moz-range-thumb {
    background: var(--transport-color);
}

.u-hidden {
    display: none;
}

.small-width {
    max-width: 17em;
}

.footer {
  position: absolute;
  font-size: 14px;
  font-style: italic;
  left: 30px;
  bottom: 24px;
  color: #999;
}

.light-text {
    color: var(--main-light);
}

.circles {
    opacity: 0.1;
}
