* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 9px;
    transition: all 0.1s ease-in-out;
}

ul {
    text-transform: capitalize;
    list-style-type: none;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.o-row {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 20px;
    left: 100px;
}

/* allow table to take full width and height of the container */
.js-board {
    width: 100%;
    height: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

table:hover {
    cursor: pointer;
}

td {
    border: solid;
    border-width: 1px 1px;
}

.found {
    background-color: hotpink;
    font-weight: 700;
}

.highlight {
    background-color: aquamarine;
    text-decoration: underline;
}

.loading {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.js-words {
    margin-top: 20px;
}

.crossed {
    text-decoration: line-through;
    text-decoration-thickness: 0.1rem; /* Only in Firefox */
    font-weight: 700;
}

.js-statusBar {
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    background-color: lightgrey;
}

.bar {
    width: 1%;
    border-radius: 5px;
    height: 30px;
    background-color: hotpink;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

.js-game-over {
    position: absolute;
    top: 120px;
    left: 20px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 5px 9px;
    width: 80%;
    height: 40vh;
    z-index: 30;
}

.game-over-text {
    position: relative;
    top: 3em;
    margin: auto;
}

.replay-button {
    margin-top: 1em;
    border-radius: 5px;
    width: 50%;
    height: 3em;
    color: white;
    background-color: hotpink;
    cursor: pointer;
}

#canvas {
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 20;
    pointer-events: none;
}

.close-popup {
    color: crimson;
    text-align: right;
    position: relative;
    top: 0em;
    right: 0.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}

.disabled {
    pointer-events: none;
    opacity: 0;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    * {
        font-size: 12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    * {
        font-size: 14px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    * {
        font-size: 16px;
    }
}
